* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

/* @font-face {
    font-family: 'Helvetica';
    src:  url('./fonts/helvetica-neue.otf') format('opentype');
} */

@font-face {
    font-family: 'Helvetica';
    src:  url('./fonts/helvetica-neue.ttf') format('truetypefont');
}

body {
    overflow: hidden;
    display: flex;
    gap: 60px;
    height: 100vh;
}

.logo {
    width: 270px;
}

.logo-mobile {
    display: none;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 400px;
    height: 100%;
    padding: 65px 53px;
    z-index: 10;
    background-color: white;
}

.contact-info-mobile {
    display: none;
}

.contact-info {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.contact-info h1 {
    font-size: 44px;
    margin-bottom: 18px;
}

.contact-info a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: 30px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 200px;
}

main img {
    position: absolute;
    max-height: 40vw;
    max-width: 40vw;
    opacity: 0;
    animation: 48s slideShow ease-in-out infinite;
}

.artwork-1 {
    width: 100%;
}

.artwork-2 {
    animation-delay: 4s;
}
.artwork-3 {
    animation-delay: 8s;
}
.artwork-4 {
    animation-delay: 12s;
}
.artwork-5 {
    animation-delay: 16s;
}
.artwork-6 {
    animation-delay: 20s;
}
.artwork-7 {
    animation-delay: 24s;
}
.artwork-8 {
    animation-delay: 28s;
}
.artwork-9 {
    animation-delay: 32s;
}
.artwork-10 {
    animation-delay: 36s;
}
.artwork-11 {
    animation-delay: 40s;
}
.artwork-12 {
    animation-delay: 44s;
}

@keyframes slideShow {
    0% {
        opacity: 0;
        transform: translateX(10%);
    }
    1% {
        opacity: 1;
        transform: translateX(0%);
    }
    7% {
        opacity: 1;
        transform: translateX(0%);
    }
    8% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 1300px) {
    main {
        padding-left: 300px;
    }
}

@media only screen and (max-width: 900px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        min-height: 100vh;
        max-width: 390px;
        margin: auto;
        padding: 15px;
    }
    
    .logo {
        display: none;
    }
    .logo-mobile {
        display: block;
        width: 360px;
    }
    
    aside {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        min-width: 100%;
        height: auto;
        padding: 0;
    }
    .contact-info-mobile {
        display: flex;
        justify-content: space-between;
    }
    .contact-info {
        display: none;
    }
    
    .contact-info-mobile h1 {
        font-size: 40px;
        margin-bottom: 23px;
        color: yellow;
    }
    
    .contact-info-mobile a {
        text-decoration: none;
        color: black;
        font-size: 13px;
        line-height: 20px;
    }

    .contact-info-mobile .right {
        text-align: right;
    }
    
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-left: 0;
        height: 100%;
        max-height: 435px;
    }
    main img {
        position: absolute;
        width: 100%;
        max-width: 300px;
        max-height: 100%;
    }
    .artwork-1 {
        width: 100%;
    }
    
    .artwork-2 {
        animation-delay: 4s;
    }
    .artwork-3 {
        animation-delay: 8s;
    }
    .artwork-4 {
        animation-delay: 12s;
    }
    .artwork-5 {
        animation-delay: 16s;
    }
    .artwork-6 {
        animation-delay: 20s;
    }
    .artwork-7 {
        animation-delay: 24s;
    }
    .artwork-8 {
        animation-delay: 28s;
    }
    .artwork-9 {
        animation-delay: 32s;
    }
    .artwork-10 {
        animation-delay: 36s;
    }
    .artwork-11 {
        animation-delay: 40s;
    }
    .artwork-12 {
        animation-delay: 44s;
    }
}